[submodule "output"]
	path = output
	url = git@github.com:JhonnyJason/management-list-output.git
[submodule "sources"]
	path = sources
	url = git@github.com:JhonnyJason/management-list-sources.git
[submodule "toolset"]
	path = toolset
	url = git@github.com:JhonnyJason/toolset.git
